legend{
    font-weight: bold;
    font-size: 20px;
    color:rgb(65, 63, 63);
    text-shadow: 1px 1px 1px mediumvioletred;
}
fieldset{
    width: 420px;
    border-color: white ;
    border-style: dotted ;
    border-radius: 20px ;
}
label{
    display: inline-block;
    width: 160px;
    margin: 2px 2px 2px 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}
form{
    width:400px; margin: auto;}
    
   