
nav ul, nav ul li {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    width: 100%;
    background-color: rgb(255, 161, 239);
    padding: 2px 2px 2px 1px;
    border: 4px thin white;
}

nav ul li {
    border-bottom: 1px solid rgb(255, 161, 239);
}

nav ul a:link, nav ul a:visited {
    background-color: rgb(194, 111, 166);
    display: block;
    text-decoration: none;
    padding: 7px;
    font-weight: bold;
    color: #def;
    border-left: 20px solid mediumvioletred;
    margin: 0 auto;
    width: 100%;
    height: 35px;
}

nav ul a:hover {
    background-color: rgb(72, 0, 49);
    border-left: 40px solid rgb(145, 20, 147);
}

@media screen and (max-width: 480px) {
    nav ul {
        width: 100%;
    }

    nav ul a:link, nav ul a:visited {
        width: 100%;
    }
}
