
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: calc(33.333% - 20px); 
    box-sizing: border-box;
}

.product img {
    width: 75%;
    height: 100%;
    max-height: 200px; 
}

.product button {
    background-color: #ebc2d8;
    color: rgb(0, 0, 0);
    border: none;
    padding:5px 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .product {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .product {
        width: 100%;
    }
}